*{
    box-sizing: border-box;
}
h1{
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    background-color: #f1f1f1;
}
.title{
    font-size: 2.75rem;
    letter-spacing: 1px;
}
.sub-title{
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1rem;
}
.beerInfo h1{
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 1px;
}

input[type="radio"]{
    opacity: 0;
    margin: 0;
}

label{
    padding: 0.5em;
    border-radius: 5px;
    transition: 0.2s;
    margin: 0;
    display: inline-block;
    box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
}

label:hover, label:focus{
    color: rgb(3,101,192);
    box-shadow: 0px 0px 10px -4px rgba(0,0,0,1);
    transform: scale(1.02);
}

input[type="radio"]:checked+label{
    color: #f1f1f1;
    background-color:  rgb(3,101,192);
    box-shadow: 0px 0px 10px -4px rgba(0,0,0,1);
    transform: scale(1.1);
}


.filters{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gainsboro;
    color: #333;
}

.header{
    padding: 2em;
    text-align: center;
    background-color: rgb(3,101,192);
    color: #f1f1f1;
}

.abvFilter, .ibuFilter{
    padding: 1em 2em;
}

.beers{
    list-style: none;
    padding: 2em 1em 0.5em;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
}

.pages{
    padding: 0 2em;
    margin: 2em;
    text-align: center;
}

.beer-card{
    text-align: center;
    background-color: rgba(3,101,192,1);
    width: 30%;
    color: #f1f1f1;
    margin: 1em 0;
    padding: 1em 1em 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.75);
    transform: scale(1.00);
    transition: 0.2s;
    border-radius: 10px;
}
.description{
    margin: 0;
    position: absolute;
    padding: 2em;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background-color: #f1f1f1;
    color: rgb(3,101,192);
    transition: 400ms;
    border-radius: 10px;
    overflow: auto;
    display: flex;
    flex-flow: column;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}
.description:hover{
    opacity: 1;
}
.description span{
    margin-bottom: 2em;
}
.description::-webkit-scrollbar{
    width: 5px;
}
.description::-webkit-scrollbar-track{
    background-color: #f2f2f2;
    border-radius: 5px;
}
.description::-webkit-scrollbar-thumb{
    background-color: rgb(3,101,192);
    border-radius: 5px;
}



.beer-card:hover, .beer-card:focus{
    transform: scale(1.01);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.values {
   display: flex;
   justify-content: space-between;
   width: 50%;
   margin: 2em auto 1em;
}

.fas,.pageNumber{
    font-size: 1.5rem;
}
.prevPage, .nextPage,.pageNumber{
    border: 0;
    padding: 0.5em;
    z-index: 999;
}
.beer-image{
    max-width: 100%;
    max-height: 200px;
}




@media(max-width: 1050px){
    .filters{
        flex-flow: column wrap;
        align-items: center;
    }
}

@media(max-width: 900px){
    
    .beer-card{
        width: 45%;
        margin: 1.5em auto;
    }
    .abvFilter, .ibuFilter{
        padding: 1em 0.5em;
        
    }
    .values{
        width: 70%;
    }
}
@media(max-width: 525px){
    .beers{
        flex-direction: column;
    }
    .beer-card{
        width: 90%;
    }
    label{
        font-size: 0.75rem;
    }
}





